.experience-container {
    position: relative;
    top: 10%;
    overflow-y: auto;
    max-height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}

.main-experiences{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 173, 173);
}

.experience-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}



.card-wrapper > * {
    min-width: 200px;
    margin: 20px;
}


@media screen and (max-width: 600px) {
    .card-wrapper {
        grid-template-columns: 1fr;
    }
    .card-wrapper > * {
        width: 100%;
        margin: 10px 0;
    }
}

