.container-login {
    position: fixed;
    top: 25%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.box {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-login {
    margin-bottom: 16px !important;
    padding: 8px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    width: 380px !important;
}

.button {
    margin-top: 16px;
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 4px;
    width: 100%;
}